.catalog {
    position: relative;
    padding: 79px 0 81px;

    &__title {
        margin-bottom: 2.5rem;
        text-align: left;

        @media (max-width: 1440px) {
            text-align: center;
        }
    }

    &__buttons {
        display: flex;
        max-width: 457px;
        margin-bottom: 3rem;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 1440px) {
            margin: 0 auto 3rem;
        }

        @media (max-width: 575px) {
            max-width: 325px;
            margin-bottom: 1.5rem;
            gap: 1rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: space-evenly;
        gap: 2rem;
    }

    &__item {
        transform: translateY(80px);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.3s ease;

        &.active {
            transform: translateY(0);
            opacity: 1;
        }

        &-img {
            margin-bottom: 1.5rem;

            @media (max-width: 991px) {
                width: 220px;
            }

            @media (max-width: 600px) {
                width: 200px;
            }
        }

        &-description {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_title {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 2rem;
                line-height: 145%;
                color: var(--color-black);
            }

            &_price {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 2rem;
                line-height: 145%;
                color: var(--color-btn);
            }
        }

        span {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 145%;
            color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}
