.main-header {
    position: relative;

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        max-width: 144rem;
        padding: 3.6rem 7rem;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 575px) {
            padding: 2rem;
        }
    }

    &__list {
        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: space-between;
        gap: 4.5rem;

        @media (max-width: 767px) {
            position: absolute;
            top: 0;
            transform: translateX(100%);
            width: 100vw;
            height: 100vh;
            padding-top: 7rem;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(255, 255, 255, 0.5);
            transition: transform 0.5s ease;
            backdrop-filter: blur(25px);
        }

        &.menu-open {
            left: 0;
            transform: translateX(0%);
        }
    }

    &__item {
        @media (max-width: 767px) {
            transform: translateX(50px);
            opacity: 0;
            transition: transform 0.5s ease, opacity 0.5s ease;

            .menu-open & {
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }

    &__link {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 2rem;
        color: var(--color-black);
    }
}
