.title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 9.5rem;
    line-height: 106%;
    color: var(--color-black);

    @media (max-width: 1399px) {
        font-size: 7rem;
    }

    @media (max-width: 1199px) {
        font-size: 5rem;
    }

    @media (max-width: 767px) {
        font-size: 3rem;
    }
}
