:root {
    --color-bg: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-black: #000000;

    --color-accent-1: #f0dc95;
    --color-accent-2: #a44834;
    --color-btn: #454da3;
    --color-btn-disabled: #959df0;
    --color-advantages: #a8aff4;

    --font-family: 'Montserrat', sans-serif;
    --second-family: 'Cardo', sans-serif;
    --third-family: 'Raleway', sans-serif;
    --font3: 'Alice', sans-serif;
}
